<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.hepia.agelena" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application>
        <receiver android:name=".service.BackReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service
            android:enabled="true"
            android:exported="true"
            android:name=".service.AgelenaService"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>
    </application>
</manifest>
